### Common ###
target/
logs/
*bak
/bin/
.DS_Store
/target/
/logs/
/.settings/
.classpath
.project
~*
*bak
/bin/
.DS_Store
.pid
eclipse-formatter.xml
.vscode/




### Maven-plug ###
*.factorypath
.mvn
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/